@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.HiddenFor(x => x.SkillID)
                        <label>Başlık</label>
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", style = "color:yellow" })
                    </div>
                    <div class="form-group">
                        <label>Değer</label>
                        @Html.TextBoxFor(x => x.Value, new { @class = "form-control", style = "color:yellow", type = "number", min = "0", max = "100" })
                    </div>
                    <button type="submit" class="btn btn-outline-success">Kaydet</button>
                    <button type="button" class="btn btn-outline-danger" onclick="goBack()">Vazgeç</button>

                </form>
            </div>
        </div>
    </div>
}

<script>
    function goBack() {
        window.history.back();
    }
</script>
