@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "AddExpreince";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@*<div class="card-header border-0">
        <h3 class="mb-0">Deneyim Ekleme Sayfası</h3>
    </div>*@


@using (Html.BeginForm("AddExperience", "Experience", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Başlık</label>
                        <input type="text" class="form-control" name="Name" placeholder="Name" style="color:white">
                    </div>
                    <div class="form-group">
                        <label>Tarih</label>
                        <input type="text" class="form-control" name="Date" placeholder="Date"style="color:white">
                    </div>
                    <div class="form-group">
                        <label>Görsel URL</label>
                        <input type="text" class="form-control" name="ImageUrl" placeholder="URL"style="color:white">
                    </div>
                    <div class="form-group">
                        <label>Açıklama</label>
                        <textarea class="form-control" name="Description" rows="3"style="color:white"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-success mr-2">Kaydet</button>
                    <button type="button" class="btn btn-outline-danger" onclick="goBack()">Vazgeç</button>
                </form>
            </div>
        </div>
    </div>
}

<script>
    function goBack() {
        window.history.back();
    }
</script>
