@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<form class="form-group" method="post">
    <br />
    @Html.Label("Yetenek Başlığı")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", style = "color:white" })
    <br />
    @Html.Label("Değer")
    @Html.TextBoxFor(x => x.Value, new { @class = "form-control", style = "color:white", type = "number", min = "0", max = "100" })

    <br />
    <button class="btn btn-outline-success">Kaydet</button>
    <button type="button" class="btn btn-outline-danger" onclick="goBack()">Vazgeç</button>

</form>

<script>
    function goBack() {
        window.history.back();
    }
</script>
